@import "tailwindcss";

* :root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-volkhov);
} 
::-webkit-scrollbar{
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
}
